
<h2>Current weather in <%=h @location.capitalize %></h2>
<h5>Country: <%= @country %></h5>
<h4>[ <%= @coords %> ]</h5>

<div id="data_container">
  <div id="left_side">
    <% @description.each do |w| %>
      <p><%= w.capitalize %></p>
    <% end %>
  </div>

  <div id="right_side">
    <p><%= @celsius %> &deg;C</p>
    <p><%= @fahr %> &deg;F</p>
    <p>Humidity: <%= @humidity %> %</p>
    <p>Pressure: <%= @pressure %> hpa</p>
    <p>Wind Speed: <%= @wind %> m/s</p>
    <p>Wind Direction: <%= @wind_direction %>&deg;</p>
  </div>
</div>

<a id="return_link" href="/">
  <div id="return_button">Switch Location</div>
</a>